:root {
  --light: #f7f7f7;
  --dark: #0616a7;
  --accent: #907cf5;
  --header: rgb(205, 205, 242);
  --content: black;
  --font: 'proxima nova';
}

 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



body {
    background-color: var(--light);
    font-family: var(--font);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

header {
    padding: 20px;
    font-family: var(--font);
    background-color: var(--header);
    color: var(--dark);
    text-align: center;
}

header h1 {
    display: center;
    font-size: 48px;
    margin-bottom: 10px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: center;
    font-family: var(--font);
    font-size: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    text-align: right;
    
}

nav {
  display: flex;
  background-color: var(--accent);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

h2 {
    margin: 0;
}

p {
    font-size: 16px;
}

main {
    width: 75%;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
    flex: 0 0 400px;
    background-color: #fff;
    padding: 20px;
  }

.box {
    
    border-radius: var(--border-radius);
    padding: 10px;
    flex: 0 0 30px;
    margin: 250px;
    
  }

.intro {
    background-color: var(--light);
    color: var(--dark);
}

/* section for all the info about me in the main body */
.my-info {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--font);
    background-color: var(--header);
    color: var(--dark);
}

/* for images in what i've learned section */
img {
    width: 100%;
  }


footer {
    padding: 5px;
    clear: both;
    font-family: var(--font);
    text-align: center;
    background-color: var(--header);
}

footer h2 {
    font-size: 20px;
}

