:root {
  --light: #dad6ec;
  --dark: #0616a7;
  --accent: #907cf5;
  --header: rgb(231, 231, 244);
  --content: black;
  --font: 'proxima nova';
}

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



body {
    background-color: var(--light);
    font-family: var(--font);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--header);
    color: var(--dark);
    text-align: center;
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: center;
    font-family: var(--font);
    font-size: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    text-align: right;
    
}

p {
    font-size: 16px;
}

nav {
  display: flex;
  background-color: var(--accent);
  justify-content: center;
}

nav ul {
    display: flex;
}

/* why is my text not being pushed to the right in the nav */
nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: right;  
}

nav ul li a:hover {
    color: lightgreen;
    font-size: 25px;
}

main {
    width: 90%;
    background-color: var(--light);
    color: var(--dark);
}

/* about me section */
.title-section{
    display:flex;
    /* margin:%;
    padding: 5%;
    justify-content: space-around;
    height: auto;  
    text-align: center;  
    padding: 15px;     */
    width:90px;
    height:90px
}

.project-section{
    display:flex;
    margin:5%;
    padding: 5%;
    justify-content: space-around;

}

  /* trying to get the cards to line up in a row
   */
.card {  
    padding: 1%;
    text-align: center;
    border-style: solid;
    border-width: 5px;    
    width:35%;
   
}

.card:hover {
color: pink;
}

.card img{
    width: 95%;
}

  .card-header {
    position: relative;
    margin-top: -20px;
  }

  #project-work {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 
}

.intro {
    background-color: var(--light);
    color: var(--dark);
    font-size: 30px;
    
}

.intro p {
    font-size: 20px;
}

/* section for all the info about me in the main body */
.my-info {
    font-family: var(--font);
    background-color: var(--header);
    color: var(--dark);
}

/* for images in what i've learned section */
img {
    width: 100%;
  }

footer {
    margin-top: auto;
    padding: 5px;
    clear: both;
    font-family: var(--font);
    text-align: center;
    background-color: var(--header);
}

footer h2 {
    font-size: 20px;
}


@media (max-width: 760px) {
    #project-work {
      display: block;
      padding: 2%;
      margin: 2%;
      width: 100%;
      text-align: center;
    }
    .title-section {
        display: block;
    }
    header {
        width: 100%;
        display: block;
        text-align: center;
    }
    h1 {
        font-size: 20px;
    }
    .card {
        width:90%;
        margin-bottom: 10px;
    }
    nav {
        width: 90%;
    }
  }
