:root {
  --light: #dad6ec;
  --dark: #0616a7;
  --accent: #907cf5;
  --header: rgb(231, 231, 244);
  --content: black;
  --font: 'proxima nova';
}

 *{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }

body {
    background-color: var(--light);
    font-family: var(--font);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* header info including nav bar */
header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--header);
    color: var(--dark);
    text-align: center;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: center;
    font-family: var(--font);
    font-size: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    text-align: right;
    
}

header h1 {
    font-size: 50px;
}

nav {
  display: flex;
  background-color: var(--accent);
  justify-content: center;
}

nav ul {
    display: flex;
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: right;  
}

nav ul li a:hover {
    color: lightgreen;
    font-size: 25px;
}

/* code for the main body section */
main {
    width: 90%;
    background-color: var(--light);
    color: var(--dark);
}

/* about me section */
.title-section{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1%;
}

.title-section img {
    height: 15%;
    width: 15%;
}

.title-section p {
    font-size: 20px;
} 

/* project cards that show work done */
.project-section{
    display:flex;
    padding: 5%;
    justify-content: space-around;

}

#project-work {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h2 {
    font-size: 30px;
}
 
.card {  
    padding: 1%;
    margin: 20px;
    text-align: center;
    border-style: solid;
    border-width: 5px;    
    width:35%;
    box-shadow: 10px 10px 10px var(--dark);
   
}

.card:hover {
    color: rgb(119, 12, 145);
    border-width: 8px;
    
}

.card img{
    width: 95%;
}

  .card-header {
    position: relative;
    margin-top: -20px;
}

img {
    width: 100%;
  }

  /* formatting for footer section */
footer {
    margin-top: auto;
    padding: 5px;
    clear: both;
    font-family: var(--font);
    text-align: center;
    background-color: var(--header);
}

footer a {
    font-size: 20px; 
    margin: 5px;
}

footer h2 {
    font-size: 30px;
    color: var(--dark);
}

/* media query to make page adaptable to different sizes */
@media (max-width: 760px) {
    #project-work {
      display: block;
      padding: 2%;
      margin: 2%;
      width: 100%;
      text-align: center;
    }
    .title-section {
        display: block;
    }
    header {
        width: 100%;
        display: block;
        text-align: center;
    }
    h1 {
        font-size: 20px;
    }
    .card {
        width:90%;
        margin-bottom: 10px;
    }
    nav {
        width: 90%;
    }
  }
